h1 {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
   }
   
body, html {
  height: 100%;
  width: 100%;
}

#bg {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  z-index: -1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#wrapper {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 30%;
    margin-right: 30%;
    padding: 30px;
    background-color: #FFF;
    opacity: .6;
    border-radius: 20px;
}

a:hover {
    text-decoration: none;
}